@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

.container{
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}



.banner {
  background: 
    linear-gradient(
      to right, 
      rgba(255, 163, 26, 0.5), /* #FFA31A with 50% opacity */
      rgba(58, 58, 58, 0.5)    /* #3A3A3A with 50% opacity */
    ),
    url("./assets/images/Banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.font-hegarty {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}


 
